@using Final_MozArt.ViewModels.ContactMessage
@model List<ContactMessageVM>

<div class="container my-5" style="margin-left: 22pc !important; width: 68pc !important; margin-top: 120px !important;">
    <h1 class="text-center mt-3 mb-3" style="margin-left:200px; margin-top:150px;">Contact Message</h1>
    @* @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
    {
        @if (Model.Count < 1)
        {
            <a class="btn btn-success text-white" asp-action="Create">Create</a>
        }
    } *@
   
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Message</th>
                    <th>Created Date</th>
                    <th>Operations</th>
                </tr>
            </thead>    
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Email</td>
                        <td>@item.Message</td>
                        <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>
                        <td>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
                            {
                                @if (!item.IsApproved)
                                {
                                    <form method="post" asp-action="Approve" asp-route-id="@item.Id" style="display:inline;">
                                        <button type="submit" class="btn btn-primary">Approve</button>
                                    </form>
                                }
                            }

                            <form class="d-inline-block" method="post" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

