
@model HomeVM
 
@section css {
    <link rel="stylesheet" href="~/assets/css/home/home.css">
}

<main>
    <section id="main-slider">
        <div class="container">
            <div class="home-slider swiper-container">
                <div class="swiper-wrapper">
                    @foreach (var item in Model.Sliders)
                    {
                        <div class="home-slide-item swiper-slide" data-swiper-autoplay="5000">
                            <div class="home-slide-image">
                                <img src="~/assets/img/home/@item.Image"
                                     alt="Home 4 Slider Image">
                            </div>
                            <div class="home-slide-content">

                                <h2 class="title">@item.Title</h2>
                                <div class="link">
                                    <a asp-controller="Shop" asp-action="Index" class="btn btn-black btn-outline-hover-black">
                                        shop
                                        now
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="home-slider-prev swiper-button-prev"><i class="fa-solid fa-angle-left"></i></div>
                <div class="home-slider-next swiper-button-next"><i class="fa-solid fa-angle-right"></i></div>
                <div class="home-slider-pagination swiper-pagination"></div>
            </div>
        </div>
    </section>

    <section id="main-about-us">
        <div class="about-us section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-8 col-12 mx-auto">
                        <div class="about-us-home">
                            <div class="inner">
                                <h2 style="font-family: 'Playfair Display', serif; font-size: 72px;" class="title">
                                    Live out your life
                                </h2>
                                <h5 style="   color: #72A499;" class="sub-title">WELCOME TO LEARTS STORE</h5>
                                <div class="desc">
                                    <p>
                                        Learts is an online shop of two passionate craftsmen where they sell
                                        handicrafts
                                        and
                                        arts’ works in the US. We provide high-end unique vases, wall arts, home
                                        accessories, and furniture pieces.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="category-banner">
        <div class="category-banner-home section-padding pt-0">
            <div class="container">
                <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1 learts-mb-n40">

                    @foreach (var item in Model.Categories.OrderByDescending(x=>x.CreateDate).Take(4))
                    {
                        <div class="col learts-mb-40">
                            <div class="category-banner-main">
                                <a href="shop.html" class="inner">
                                    <div class="image"><img src="~/assets/img/home/@item.Image" alt=""></div>
                                    <div class="content" data-bg-color="#f4ede7">
                                        <h3 class="title">@item.Name</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <section id="line-area">
        <div class="container">
            <hr class="between-line">
        </div>
    </section>

    <section id="product-area">
        <div class="product-size section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="product-tab-list nav">
                            <li><a class="active" data-bs-toggle="tab" href="#tab-new-sale">New arrivals</a></li>
                        </ul>
                        <div class="prodyct-tab-content1 tab-content">
                            <div class="tab-pane fade show active" id="tab-new-sale">
                                <div class="products row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">

                                   @foreach (var item in Model.Products.OrderByDescending(x=>x.CreateDate).Take(10))
                                    {
                                        <div class="col">
                                            <div class="product">
                                                <div class="product-thumb">
                                                    <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id" class="image">
                                                        <img src="~/assets/img/product-details/@item.Image" alt="Product Image">
                                                        <img class="image-hover " src="~/assets/img/product-details/@item.Hower"
                                                             alt="Product Image">
                                                    </a>
                                                    <a href="wishlist.html" class="add-to-wishlist hintT-left"
                                                       data-hint="Add to wishlist"><i class="far fa-heart"></i></a>
                                                </div>
                                                <div class="product-info">
                                                    <h6 class="title">
                                                        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a>

                                                    </h6>
                                                    <span class="price">
                                                        $@item.Price
                                                    </span>
                                                    <div class="product-buttons">
                                                        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id" class="product-button hintT-top" data-hint="View">
                                                            <i class="fas fa-search"></i>
                                                        </a>
                                                        <a href="#" class="product-button hintT-top"
                                                           data-hint="Add to Cart">
                                                            <i class="fas fa-shopping-cart"></i>
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               

            </div>
        </div>
    </section>

    <section id="line-area">
        <div class="container">
            <hr class="between-line">
        </div>
    </section>



    <section id="brands-area">
        <div class="brands-size section-padding">
            <div class="container">
                <div class="brands-title text-md-left text-center row justify-content-between align-items-center">
                    <div class="col-md-auto col-12">

                        <h2 class="title title-icon-right">Shop by brands</h2>

                    </div>
                </div>

                <div class="row align-items-center row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 learts-mb-n50">

                    @foreach (var item in Model.Brands)
                    {
                        <div class="col learts-mb-50">
                            <div class="brand-item">
                                <a href="#"><img src="~/assets/img/home/@item.Image" alt="Brands Image"></a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>


    <section id="line-area">
        <div class="container">
            <hr class="between-line">
        </div>
    </section>

    <section id="testimonial-area">
        <div class="testimonial-size section-padding">
            <div class="container">
                <div class="testimonial-title row justify-content-between align-items-center">
                    <div class="col-md-auto col-12">
                        <h2 class="title title-icon-right">We love our clients</h2>
                    </div>
                </div>

                <div class="testimonial-carousel">
                    <div class="col">
                        <div class="testimonial">
                            <p>
                                There's nothing would satisfy me much more than a worry-free clean and responsive
                                theme
                                for
                                my high-traffic site.
                            </p>
                            <div class="author">
                                <div class="content">
                                    <h6 class="name">Anais Coulon</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="testimonial">
                            <p>
                                Really good design/documentation, pretty much everything is nicely setup. The best
                                choice
                                for
                                Woocommerce shop.
                            </p>
                            <div class="author">
                                <div class="content">
                                    <h6 class="name">Ian Schneider</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="testimonial">
                            <p>
                                ThemeMove deserves 5 star for theme’s features, design quality, flexibility,
                                customizability
                                and support service!
                            </p>
                            <div class="author">
                                <div class="content">
                                    <h6 class="name">Florence Polla</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="testimonial">
                            <p>
                                Thanks for always keeping your WordPress themes up to date. Your level of support is
                                second
                                to none.
                            </p>
                            <div class="author">
                                <div class="content">
                                    <h6 class="name">Sally Ramsey</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section id="instagram-area">
        <div class="instagram-size instagram-padding pt-0">
            <div class="container">
                <div class="row row-cols-lg-2 row-cols-1 learts-mb-n50">
                    <div class="col align-self-center learts-mb-50 order-lg-2">
                        <div class="instagram-title text-center m-0"
                             data-bg-image="assets/images/title/title-3.webp">
                            <h2 class="title">Follow us on Instagram</h2>
                            <p class="desc">MozArt</p>
                        </div>
                    </div>

                    <div class="col learts-mb-50">
                        <div class="instafeed instafeed-carousel instafeed-carousel2">

                            @foreach (var item in Model.Instagrams)
                            {
                                <a class="instafeed-item" href="#">
                                    <img src="~/assets/img/home/@item.Image" alt="instagram image" />
                                    <i class="fab fa-instagram"></i>
                                </a>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

 @section scripts {
    <script src="~/assets/js/home/home.js"></script>
} 
