@model ProductDetailVM

@{
    ViewData["Title"] = "Product Details";
}

<div class="container mt-5">
    <h2 class="mb-4">@Model.Name</h2>

    <div class="row">
        <div class="col-md-6">
            <img src="@Model.Images.FirstOrDefault(i => i.IsMain)?.Url" class="img-fluid border rounded shadow-sm mb-3" />
            <div class="d-flex flex-wrap">
                @foreach (var img in Model.Images)
                {
                    <img src="@img.Url" class="img-thumbnail m-1" style="width: 100px;" />
                }
            </div>
        </div>
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Price:</dt>
                <dd class="col-sm-8">@Model.Price ₼</dd>

                <dt class="col-sm-4">Brand:</dt>
                <dd class="col-sm-8">@Model.BrandName</dd>

                <dt class="col-sm-4">Category:</dt>
                <dd class="col-sm-8">@Model.CategoryName</dd>

                <dt class="col-sm-4">Colors:</dt>
                <dd class="col-sm-8">
                    @foreach (var color in Model.ColorNames)
                    {
                        <span class="badge bg-secondary me-1">@color</span>
                    }
                </dd>

                <dt class="col-sm-4">Tags:</dt>
                <dd class="col-sm-8">
                    @foreach (var tag in Model.TagNames)
                    {
                        <span class="badge bg-info text-dark me-1">@tag</span>
                    }
                </dd>

                <dt class="col-sm-4">Description:</dt>
                <dd class="col-sm-8">@Model.Description</dd>
            </dl>
        </div>
    </div>

    <a asp-action="Index" class="btn btn-secondary mt-3">Back to List</a>
</div>